<!DOCTYPE html>

<title>{{ board.title }}</title>

{% block body %}
    <main>
        <h1>{{ board.title }}</h1>

        <h2>Rows</h2>

        {% if board.boardRows is empty %}
            <p>No rows yet.</p>
        {% else %}
            <ul>
                {% for row in board.boardRows %}
                    <li>
                        {{ row.title }}

                        {% if row.tasks is empty %}
                            <p>No tasks yet.</p>
                        {% else %}
                            <ul>
                                {% for task in row.tasks %}
                                    <li>{{ task.title }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
{% endblock %}
